doctype html
html
    head
        meta(charset='utf8')
        title=title
        link(rel="stylesheet", href="/css/styles.css")
        script(src='/socket.io/socket.io.js')
        script(src='/js/app.js')
    body
        h1=title
        #results!=body
