body {
    font: 400 100%/1.5rem "Roboto", "Droid Sans", sans-serif;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
}

#results {
    margin: 0 auto;
    max-width: rem(1050);
    width: 80%;
}
